name: Build and Push Docker image to GCPArtifact Registry

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: GCP auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker ${{ variables.GCP_ARTIFACT_REGISTRY_REGION }}-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t airflow_with_deps:latest .

      - name: Tag Docker image
        run: |
          IMAGE_URI=${{ variables.GCP_ARTIFACT_REGISTRY_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ variables.GCP_ARTIFACT_REGISTRY_REPO }}/airflow_with_deps:latest
          docker tag airflow_with_deps:latest $IMAGE_URI

      - name: Push Docker image to Artifact Registry
        run: |
          IMAGE_URI=${{ variables.GCP_ARTIFACT_REGISTRY_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ variables.GCP_ARTIFACT_REGISTRY_REPO }}/airflow_with_deps:latest
          docker push $IMAGE_URI